/* .analog {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.seconds {
  border: 2px solid orangered;
  width: 150px;
  transform-origin: 45% 95%;
  position: absolute;
  left: 155px;
  top: 250px;
} */