<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>99 beers</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/reset.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
</head>
<body>
  <h1><%=@num_bottles%> <%=@bottles_wall%></h1>
  <a href= "<%=@deduct_one%>"> <%=@take_one%></a>
</body>
</html>